<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="">
  <title>Music WebSite</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <!-- Main start -->
  <div class="main">
