<%- include("partials/header"); -%>

<div class="compose-card">
  <form class="" action="/compose-card" method="post">
    <section class="top-part-cards">
      <div class="card">
        <a href="#" name='card1' value='card11' style="color:red;">
          <div class="card-image">
            <img src="images/card1.jpg" alt="card1">
          </div>
          <div class="card-text">
            <p>دانلود آهنگ بهنام بانی دو دل عاشق</p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="#">
          <div class="card-image">
            <img src="images/card1.jpg" alt="card1">
          </div>
          <div class="card-text">
            <p>دانلود آهنگ بهنام بانی دو دل عاشق</p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="#">
          <div class="card-image">
            <img src="images/card1.jpg" alt="card1">
          </div>
          <div class="card-text">
            <p>دانلود آهنگ بهنام بانی دو دل عاشق</p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="#">
          <div class="card-image">
            <img src="images/card1.jpg" alt="card1">
          </div>
          <div class="card-text">
            <p>دانلود آهنگ بهنام بانی دو دل عاشق</p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="#">
          <div class="card-image">
            <img src="images/card1.jpg" alt="card1">
          </div>
          <div class="card-text">
            <p>دانلود آهنگ بهنام بانی دو دل عاشق</p>
          </div>
        </a>
      </div>
      <div class="card">
        <a href="#">
          <div class="card-image">
            <img src="images/card1.jpg" alt="card1">
          </div>
          <div class="card-text">
            <p>دانلود آهنگ بهنام بانی دو دل عاشق</p>
          </div>
        </a>
      </div>
    </section>
    <label for="card_image">تصویر کارت</label>
    <input type="file" name="card_image" value="">
    <label for="card_descrption">متن کارت</label>
    <input type="text" name="card_descrption" value="">
    <button type="submit" name="button" class="submit-btn">ذخیره</button>
  </form>
</div>
<%- include('partials/footer'); -%>
